// This File is imported last, and will override other styles in the cascade
// Add styles here to customize your blog
// By default this file should be EMPTY!!!
// Please edit specifications in place if you are building an other theme!

body {
	font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", sans-serif;
}

.main-navigation a {
	font-size: 1.2em;
}

.search {
	margin-top: 5px;
}